@media screen and (min-width: 1900px) {

  /* 4K screen css */
  .meta .text {
    font-size: 1.4rem !important;
  }

  .simulation div {
    font-size: 2.5rem !important;
  }

  /* .simulation .Jahr {
    font-size: 6rem !important;
  } */
}

/****************************** DOCUMENT ***************************/
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', 'Franklin Gothic Medium', sans-serif;
  /* @font-face {
    font-family: "Roboto-Regular";
    src: url("/home/dunland/.fonts/truetype/Roboto-Regular.ttf");
  }
  font-family: 'Roboto-Regular'; */
  /* color: white; */
  /* font-size: 12px; */
  margin: 0px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

/**************************** INFOSCREEN *****************************/
#infoscreen,
.buildings_interaction,
.simulationMode {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

#infoscreen .main {
  width: 100%;
  height: 100%;
  float: left;
}

#infoscreen .top {
  width: 100%;
  height: 82%;
}

#infoscreen .columns {
  /* padding-top: 1%; */
  width: 79%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: grid;
  grid-template: 'tl tr' 'bl br';
}

#infoscreen .buildings_group {
  display: inline-block;
  vertical-align: top;
  /* width: 24%; */
}

#infoscreen .bottom {
  width: 100%;
  height: 20%;
  display: inline-block;
}

#infoscreen .bottom .left {
  width: 79%;
  height:100%; /* necessary to compute height of barChart */
  float:left;
}

#infoscreen .right {
  width: 20%;
  height: 100%;
  float: left;
  border-left: 1px solid gray;
  padding-left: 10px;
}

#infoscreen .right .scenario{
  display: inline-block;
}

#infoscreen .right .scenario_energy_prices img{
  width: 100%;
  border: 1px goldenrod dotted;
  margin-top: 10px;
}

#infoscreen .right .scenario_q100_capex img{
  width: 100%;
  border: 1px turquoise dotted;
}

#infoscreen .right #scenario_num_connections{
  border: 1px chartreuse dotted;
}

#cluster,
#total {
  /* display: flex;
  flex-direction: column; */
  /* width: 100%; */
  height: 100%;
  /* padding-left: 20px; */
}

#cluster>*,
#total>* {
  display: inline-block;
}

#map {
  max-height: 100%;
  max-width: 100%;
  padding-top: 50px;
}

ul {
  list-style: none;
}

.meta {
  display: inline-block;
  /* padding: 5px 10px 10px; */
}

.template {
  /* templates are invisible */
  display: none;
}

.meta.connection_to_heat_grid .icon::before {
  position: absolute;
  left: -15px;
  top: 25px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: white;
  /* #ff4d4d */
}

.meta::after {
  content: "";
  clear: both;
  display: table;
}

.meta .icon {
  width: 80px;
  float: left;
  vertical-align: middle;
}

.meta.green .icon {
  filter: invert(54%) sepia(86%) saturate(500%) hue-rotate(94deg) brightness(103%) contrast(104%);
}

.meta.gray .icon {
  filter: invert(58%) sepia(5%) saturate(5%) hue-rotate(337deg) brightness(94%) contrast(86%);
}

.meta.graygreen .icon {
  filter: invert(35%) sepia(4%) saturate(3107%) hue-rotate(82deg) brightness(100%) contrast(95%);
}

.meta .icon img {
  width: 100%;
  padding: 5px;
}

.meta .text {
  width: auto;
  float: left;
  display: inline-block;
  list-style-type: none;
  font-size: 1rem;
}

.meta .text ul {
  padding-left: 20px;
  margin: 5px 0;
}

.meta .text li {
  padding: 0.1em;
}

.simulation .Jahr {
  font-size: 5rem;
  line-height: 5rem;
  margin-right: 40px;
  float: right;
  text-align: right;
  width: 100% !important;
}

.simulation .slider {
  margin-top: 10px;
  font-size: 16px;
  display: block;
}

.simulation div {
  float: left;
  width: 20%;
  font-size: 1.8rem;
  line-height: 2.4rem;
  height: 100%;
}

.simulation::after {
  content: "";
  clear: both;
  display: table;
}

#graphic {
  height: 100%;
}

#graphic svg {
  margin: 0px 10px;
}

#quartierSimulation {
  margin-top: 1em;
}

#quartierSimulation::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#quartierSimulation svg {
  float: left;
  margin: 10px;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.area {
  fill: #e8eef4;
}

g#xAxisG text,
g#yAxisG text {
  stroke: none;
  fill: silver;
  font-size: 9px;
}

/*************************** QUESTIONNAIRE **************************/
@font-face {
  font-family: "LibertinusSerif-Italic";
  src: url("lib/LibertinusSerif-Italic.otf") format("opentype");
}

#questionText {
  font-family: "LibertinusSerif-Italic", serif;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 15% 0 0;
  align-self: flex-end;
}

.questionAnswers {
  display: flex;
  justify-content: center;
}

.questionAnswers div {
  border-style: solid;
  border-width: 3px;
  margin: 100px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionAnswerYesActive {
  color: greenyellow;
  border-width: 5px !important;
}

.questionAnswerNoActive {
  color: red;
  border-width: 5px !important;
}

.questionAnswers {
  color: gray;
  border-color: gray;
}

/**************************** INPUT ENVIRONMENT ***********************/
.input_scenarios .scenario {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
}

.input_scenarios .scenario img{
  width: 95%;
  border: none;
}

/********************************* DATA VIEW ****************************/
.dataview_wrapper {
  /* display: inline-block; */
  width: 100%;
}

.graphs_wrapper {
  width: 49.5%;
  height: 45vh;
  display: inline-block;
  /* background-color: black; */
}

/****************************** TOTAL DATA VIEW *************************/
.headerImage {
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  background-size: 50vw, calc(50vw / 1920 * 406);
}

.dataViewTotalMode {
  display: grid;
  grid-template: 'tl tr'
    'bl br';
}

.dataViewTotalMode .graph img {
  width: 90%; /* 100% will make the images too high */
  background-size: contain;
}

.dataViewTotalMode .quarterSection {
  width: 50vw;
}

.dataViewTotalMode table {
  width: 100%;
}

.dataViewTotalMode td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  /* width: 100%; */
}

.dataViewTotalMode th {
  width: 50%;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/**************************** INDIVIDUAL DATA VIEW *************************/

.dataViewIndividualMode {
  /* margin: 10px; */
  display: grid;
  /* grid-gap: 25px; */
  grid-template: 'tl tr'
    'bl br';
}

.dataViewIndividualMode .graph img {
  width: 100%;
  background-size: contain;
}

.dataViewIndividualMode table {
  width: 100%;
  font-size: x-large;
  border-spacing: 0;
}


.dataViewIndividualMode table th {
    border-top: 1px solid black;
    border-bottom: 1px solid #333333;
}


.dataViewIndividualMode td {
  text-align: left;
  padding: 0px 0px;
  /* width: 100%; */
}

.dataViewIndividualMode tr:nth-last-child(1) td {
    border-bottom: 1px solid black;
}

.dataViewIndividualMode td:nth-child(n+2) {
  text-align: center;
}t

.dataViewIndividualMode th {
  width: 50%;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f1f6d6;
}

.dataViewIndividualMode .outerQuarterSection{
height: 50vh;
}

.dataViewIndividualMode .innerQuarterSection {
  outline: 8px solid #bbd431;
  padding: 30px;
  margin: 15px;
}

.dataViewIndividualMode h3 {
margin: 0 20px;
}
.dataViewIndividualMode h4 {
margin: 0 20px 10px 20px;
color: gray;
font-size: smaller;
font-weight: normal;
}

.dataViewIndividualMode .innerQuarterSection .nameAndTable {
  grid-area: dataTable;
}
.dataViewIndividualMode .innerQuarterSection .graphR{
  grid-area: graphR;
}
.dataViewIndividualMode .innerQuarterSection .graphL{
  grid-area: graphL;
}

.dataViewIndividualMode .innerQuarterSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'dataTable dataTable'
  'graphR graphL';
}

/****************************
.dataViewIndividualMode .graph {
  width: 30%;
  display: inline-block;
}

.dataViewIndividualMode .graph img {
  max-height: 24vh;
}

.box {
  //background-color: #444;
  // color: #fff;
  border-radius: 5px;
  padding: 20px;
}

// .box .box {
// background-color: #ccc;
// color: #444;
// }

.houseHolds {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, [row] auto  );
  // background-color: purple;
  // color: #444;
}

.houseHold {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.houseHoldTitle {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.houseIcon {
  width: 100%;
}

.houseHoldInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

// .houseHoldEnergyData {}

.houseHoldEnergyEfficiency {
  display: inline-block;
}

.houseHoldEnergyEfficiency img {
  width: 25px;
  filter: invert(1)
}

.houseHoldIsHeizung {
  width: 25px;
}
*************************/