@media screen and (min-width: 1900px) {

  /* 4K screen css */
  .meta .text {
    font-size: 1.4rem !important;
  }

  .simulation div {
    font-size: 2.5rem !important;
  }

  /* .simulation .Jahr {
    font-size: 6rem !important;
  } */
}

/****************************** DOCUMENT ***************************/
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Franklin Gothic Medium', sans-serif;
  color: white;
  font-size: 12px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

body {
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  background: black;
}

/**************************** INFOSCREEN *****************************/
#infoscreen,
.input_households,
.simulationMode {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

#infoscreen .main {
  width: 100%;
  height: 100%;
  float: left;
}

#infoscreen .top {
  width: 100%;
  height: 70%;
}

#infoscreen .columns {
  padding-top: 1%;
  width: 79%;
  height: 96%;
  float: left;
  overflow: hidden;
  display: inline-block;
}

#infoscreen .buildings_group {
  display: inline-block;
  vertical-align: top;
  width: 24%;
}

#infoscreen .bottom {
  width: 100%;
  height: 30%;
  display: inline-block;
}

#infoscreen .bottom .left {
  width: 10%;
  height: 30%;
}

#infoscreen .bottom .middle {
  width: 40%;
  height: 100%;
  float: left;
}

#infoscreen .right {
  width: 20%;
  height: 100%;
  float: left;
}

#cluster,
#total {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding-left: 20px;
}

#cluster>*,
#total>* {
  display: inline-block;
}

#map {
  max-height: 100%;
  max-width: 100%;
  padding-top: 50px;
}

ul {
  list-style: none;
}

.meta {
  display: inline-block;
  padding: 5px 10px 10px;
}

.template {
  /* templates are invisible */
  display: none;
}

.meta.connection_to_heat_grid .icon::before {
  position: absolute;
  left: -15px;
  top: 25px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: white;
  /* #ff4d4d */
}

.meta::after {
  content: "";
  clear: both;
  display: table;
}

.meta .icon {
  width: 80px;
  float: left;
  vertical-align: middle;
}

.meta.green .icon {
  filter: invert(54%) sepia(86%) saturate(500%) hue-rotate(94deg) brightness(103%) contrast(104%);
}

.meta.gray .icon {
  filter: invert(58%) sepia(5%) saturate(5%) hue-rotate(337deg) brightness(94%) contrast(86%);
}

.meta.graygreen .icon {
  filter: invert(35%) sepia(4%) saturate(3107%) hue-rotate(82deg) brightness(100%) contrast(95%);
}

.meta .icon img {
  width: 100%;
  padding: 5px;
}

.meta .text {
  width: auto;
  float: left;
  display: inline-block;
  list-style-type: none;
  font-size: 1rem;
}

.meta .text ul {
  padding-left: 20px;
  margin: 5px 0;
}

.meta .text li {
   padding: 0.1em;
}

.simulation .Jahr {
  font-size: 5rem;
  line-height: 5rem;
  margin-right: 40px;
  float: right;
  text-align: right;
  width: 100% !important;
}

.simulation .slider {
  margin-top: 10px;
  font-size: 16px;
  display: block;
}

.simulation div {
  float: left;
  width: 20%;
  font-size: 1.8rem;
  line-height: 2.4rem;
  height: 100%;
}

.simulation::after {
  content: "";
  clear: both;
  display: table;
}

#graphic {
  height: 90%;
}

#graphic svg {
  margin: 0px 10px;
}

#quartierSimulation {
  margin-top: 1em;
}

#quartierSimulation::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

#quartierSimulation svg {
  float: left;
  margin: 10px;
}

.line {
  fill: none;
  stroke-width: 1px;
}

.area {
  fill: #e8eef4;
}

g#xAxisG text,
g#yAxisG text {
  stroke: none;
  fill: silver;
  font-size: 9px;
}

/*************************** QUESTIONNAIRE **************************/
@font-face {
  font-family: "LibertinusSerif-Italic";
  src: url("lib/LibertinusSerif-Italic.otf") format("opentype");
}

#questionText {
  font-family: "LibertinusSerif-Italic", serif;
  width: 70%;
  margin: auto;
  text-align: center;
  padding: 15% 0 0;
  align-self: flex-end;
}

.questionAnswers {
  display: flex;
  justify-content: center;
}

.questionAnswers div {
  border-style: solid;
  border-width: 3px;
  margin: 100px;
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionAnswerYesActive {
  color: greenyellow;
  border-width: 5px !important;
}

.questionAnswerNoActive {
  color: red;
  border-width: 5px !important;
}

.questionAnswers {
  color: gray;
  border-color: gray;
}

/**************************** INPUT ENVIRONMENT ***********************/
.input_scenarios .scenario {
  width: 25%;
  height: 100%;
  display: table-cell;
  text-align: center;
}

.input_scenarios .scenario .active {
  border-color: goldenrod;
}

/********************************* DATA VIEW *************************/
.dataViewMode {
  /* display: grid; */
  grid-gap: 10px;
  grid-template-columns: 3fr 2fr;
  /* grid-template-rows: repeat(2, [row] auto  ); */
  /* background-color: #fff; */
  /* color: #444; */
}

.dataview_wrapper{
  /* display: inline-block; */
  width: 100%;
}

.dataViewMode .graphs_wrapper{
  width: 45vw;
  height: 45vh;
  display: inline-block;
  background-color: black;
}

.dataViewMode .graph{
  width: 30%;
  display: inline-block;
}

.dataViewMode .graph img{
  width: 100%;
  background-size: contain;
}

.box {
  /* background-color: #444; */
  /* color: #fff; */
  border-radius: 5px;
  padding: 20px;
}

.box .box {
  /* background-color: #ccc; */
  /* color: #444; */
}

.houseHolds {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, [row] auto  ); */
  /* background-color: purple; */
  /* color: #444; */
}

.houseHold {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.houseHoldTitle {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.houseIcon {
  width: 100%;
}

.houseHoldInfo {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.houseHoldEnergyData {}

.houseHoldEnergyEfficiency {
  display: inline-block;
}

.houseHoldEnergyEfficiency img {
  width: 25px;
  filter: invert(1)
}

.houseHoldIsHeizung {
  width: 25px;
}